.gpt3__features {
    display: flex;
    gap: 4rem;
    font-family: var(--font-family);
    flex-wrap: wrap;
}

.gpt3__features-heading h1{
    color: var(--gradient-text);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
}

.gpt3__features-heading p {
    color: var(--color-subtext);
}

.gpt3__features-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    
}

.gpt3__features-feature {
    flex: 1.5;
}

.gpt3__features-feature .gpt3__features-container__feature{
    margin: 0;
    margin-bottom: 2rem;
}

@media screen and (max-width: 990px) {
    .gpt3__features {
        flex-direction: column;
    }

}