.gpt3__header {
    display: flex;
    gap: 3rem;
}

.gpt3__header-image {
    flex:1;
    align-items: center;
    justify-content: center;
}

.gpt3__header-image img {
    width: 100%;
}

.gpt3__header-content {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--font-family);
}

.gpt3__header-content h1 {
    font-size: 62px;
    font-family: 500;
    font-weight: 800;
    line-height: 75px;
    width: 100%;
    letter-spacing: -0.4rem;
}

.gpt3__header-content p {  
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);

    margin-top: 1.5rem;
}

.gpt3__header-content__contact {
    width: 100%;
    display: flex;
    margin:2rem 0 1rem;
}

.gpt3__header-content__contact input {
    flex:2;
    min-height: 50px;
    height: 50px;
    outline: 0px;
    border: 0;
    margin:0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 1rem;
    font-size:20px;
    background-color: var(--color-footer);
    font-weight: 400;
    line-height: 27px;
}

.gpt3__header-content__contact button {
    flex:0.6;
    align-items: center;
    padding: 0 1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ff4820;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    outline: none;
    font-family: var(--font-family);
    border: 0;
    max-height: 50px;
}

.gpt3__header-content__people {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.gpt3__header-content__people p {
    font-size: 12px;
    line-height: 38px;
    color: white!important;
    margin-top: 0;
}
.gpt3__header-content__people img {
    width: 20%;
}

@media screen and (max-width: 650px) {
    .gpt3__header-content__people {
        flex-direction: column;
    }

    .gpt3__header h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .gpt3__header p {
        font-size: 16px;
        line-height: 24px;
    }

    .gpt3__header-content__contact input, 
    .gpt3__header-content__contact button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 1050px) {
    .gpt3__header {
        flex-direction: column;
    }

    .gpt3__header-content__contact input, .gpt3__header-content__contact button {
        font-size: 16px;
        line-height: 24px;
        padding: 0 0.5rem;
    }
}

@media screen and (max-width: 650px) {
    .gpt3__header h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .gpt3__header p {
        font-size: 14px;
        line-height: 24px;
    }

    .gpt3__header-content__contact input, 
    .gpt3__header-content__contact button {
        font-size: 12px;
        line-height: 16px;
    }
}
